# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
.kotlin/

# Build artifacts
*.tsbuildinfo
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Package manager
pnpm-lock.yaml

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store

# Environment
.env*.local
